# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# Display sample data
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Atuona,PF,76.89,clear sky,-9.8000,-139.0333,Villa Enata
1,6,Pemangkat,ID,85.69,scattered clouds,1.1667,108.9667,Hotel Duyung Permai 2
2,7,Butaritari,KI,82.27,broken clouds,3.0707,172.7902,Isles Sunset Lodge
3,9,Grand Gaube,MU,74.37,broken clouds,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
4,10,Georgetown,MY,87.73,few clouds,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...,...,...
360,680,Hurghada,EG,75.24,clear sky,27.2574,33.8129,Sea Star Beau Rivage Hotel
361,681,Dzaoudzi,YT,76.89,clear sky,-12.7887,45.2699,Le Rocher
362,682,Buraydah,SA,63.05,clear sky,26.3260,43.9750,Mövenpick Qassim
363,684,Sattahip,TH,86.99,haze,12.6664,100.9007,Pob Choke Residences ( พบโชคเรดซิเด้นท์ )
364,685,Lormi,IN,78.44,clear sky,22.2833,81.7333,suresh Kumar Porte

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

In [27]:
# 24 cities were found in AU by using the below: 
Most_Cities = vacation_df.groupby('Country').count()
display(Most_Cities)

         City_ID  City  Max Temp  Current Description  Lat  Lng  Hotel Name
Country
AE             1     1         1                    1    1    1           1
AO             1     1         1                    1    1    1           1
AR            12    12        12                   12   12   12          12
AU            24    24        24                   24   24   24          24
BA             1     1         1                    1    1    1           1
...          ...   ...       ...                  ...  ...  ...         ...
YE             2     2         2                    2    2    2           2
YT             1     1         1                    1    1    1           1
ZA             8     8         8                    8    8    8           8
ZM             2     2         2                    2    2    2           2
ZW             1     1         1                    1    1    1           1

[94 rows x 7 columns]

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [28]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [29]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [32]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "New Norfolk"]
vacation_end = vacation_df.loc[vacation_df["City"] == "New Norfolk"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Carnarvon"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Mount Gambier"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Gladstone"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [37]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [41]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3], 
    travel_mode='DRIVING')

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [42]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,22,New Norfolk,AU,65.88,clear sky,-42.7826,147.0587,The Shingles Riverside Cottages
1,27,Carnarvon,AU,72.48,clear sky,-24.8667,113.6333,Hospitality Carnarvon
2,34,Mount Gambier,AU,71.96,clear sky,-37.8333,140.7667,The Commodore
3,42,Gladstone,AU,75.13,overcast clouds,-23.8500,151.2500,Highpoint International Hotel

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [43]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [45]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))